$mainCls: "tt";
$scrollBarColor: #8ce6c8;
$scrollBarHoverColor: #17e9a3;

$mainTextColor: "#000";
$mainFontSize: 12px;
$mainFontweight: 400;

$whiteColor: #fff;
$blackColor: #000;
$greenColor: #5BE9B9;
$purpleColor: #6E07F3;
$blueColor: #407BFF;
$lightBlueColor: #AEC7FF;
$tableHeaderBackgroundColor: #D9D9D9;

$headerSize: 64px;
$tableHeaderSize: 32px;
$labelSize: 16px;
$textSize: 12px;

$headerWeight: 700;
$tableHeaderWeight: 600;
$labelWeight: 500;
$textWeight: 400;
