&-poke-name {
  font-size: #{$labelSize};
  font-weight: #{$tableHeaderWeight};
  color: #{$blueColor};
  cursor: pointer;
}

&-poke-avatar {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;

  label {
    font-size: #{$labelSize};
    font-weight: #{$tableHeaderWeight};
  }
}

&-sort-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

&-hidden_scroll {
  overflow: hidden !important;
}

&-white_bg {
  background-color: #{$whiteColor} !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

&-hedaer-hidden {
  transform: translateY(-100%);
}
