&-table {
  width: 100%;
  table-layout: auto;
  position: relative;
  font-size: #{$labelSize};
  z-index: 1;

  &-head {
    position: sticky;
    top: 30px;

    th {
      background-color: #{$tableHeaderBackgroundColor};
      position: relative;
    }
  }

  &-head_sorting {
    background-color: #{$greenColor} !important;
  }

  &-head_asc {

    .up {

      path {
        fill: #1A1A1A;
      }
    }
  }

  &-head_desc {

    .down {

      path {
        fill: #1A1A1A;
      }
    }
  }

  &-head_content {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 8px;

    &-text {
      margin-right: 15px;
    }

    &-icon {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 10px;

      img {
        color: #7A7A7A;
      }
    }
  }

  &-body {

    td {
      padding: 8px;
    }
  }
}

&-filter {
  position: sticky;
  top: 0;
  background-color: #{$whiteColor};
  z-index: 2;
}

&-filter_wrap {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: #{$labelSize};

  label {
    font-weight: #{$tableHeaderWeight};
  }

  select {
    height: 20px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
  }
}

&-type {

  &-normal {
    background-color: #aa9;
  }

  &-fire {
    background-color: #f42;
  }

  &-water {
    background-color: #39f;
  }

  &-electric {
    background-color: #fc3;
  }

  &-grass {
    background-color: #7c5;
  }

  &-ice {
    background-color: #6cf;
  }

  &-fighting {
    background-color: #b54;
  }

  &-poison {
    background-color: #a59;
  }

  &-ground {
    background-color: #db5;
  }

  &-flying {
    background-color: #89f;
  }

  &-psychic {
    background-color: #f59;
  }

  &-bug {
    background-color: #ab2;
  }

  &-rock {
    background-color: #ba6;
  }

  &-ghost {
    background-color: #66b;
  }

  &-dragon {
    background-color: #76e;
  }

  &-dark {
    background-color: #754;
  }

  &-steel {
    background-color: #aab;
  }

  &-fairy {
    background-color: #e9e;
  }
}
