&-table {
  width: 100%;
  table-layout: auto;

  &-head_content {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #{$tableHeaderBackgroundColor};
  }
}
